@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tag-pill {
    @apply inline-block px-3 py-1 text-sm font-mono rounded-full border-2;
  }
  .gross-blob {
    @apply bg-gradient-to-br from-blue-500 via-purple-600 to-pink-500;
  }
}
