---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/"
layout: base.njk
title: "Tag: {{ tag }}"
---

<h1>Tag: {{ tag }}</h1>
<p>Tag page for {{ tag }}</p>
<a href="/">← Back home</a>
